
/* Navbar */
nav {
    background-color: #212121;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

nav * {
    color: #fafafa;
    display: block;
}

.navLeft, .navRight {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
}

.navLogo {
    margin: 5px 0;
}

.navLeft a, .navRight a {
    text-decoration: none;
    font-size: 18px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    transition: 0.3s ease;
}

.navLeft a:hover, .navRight a:hover {
    background-color: #404040;
}

.navMenu {
    display: none;
}

/* Footer */

footer {
    background-color: #212121;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    padding: 30px;
    column-gap: 30px;
    justify-content: space-between;
}

footer * {
    color: #fafafa;
}


/*      Home        */
header {
    text-align: center;
    padding: 20px 0;
    background-color: #0049B7;
}

.clock {
    font-weight: bold;
    color: #fafafa;
    font-size: 18px;
}

.authorPic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: 20%;
}

.welcomeBox {
    width: 50%;
    margin: 0 auto;
    padding: 75px 0;
}

.welcomeBox * {
    font-size: 18px;
}

.welcomeBox h2 {
    font-size: 32px;
    padding: 10px 0;
}

.welcomeMid {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.welcomeMid div * {
}

.motofactBox {
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    background-color: #0049B7;
}

.motofactBox * {
    color: #fafafa;
}

.motofactBox h3 {
    font-size: 32px;
}

.motofactQuote {
    width: 40%;
    margin: 0 auto;
}

.motofactFact {
    font-size: 18px;
    margin: 10px 0;
}

.motofactCite {
    font-size: 14px;
    color: #cccccc;
    display: block;
}

.contactFormDiv {
    padding: 75px 0;
    text-align: center;
}

.contactForm {
    display: inline-block;
    text-align: left;
    background-color: #0049B7;
    padding: 20px;
    box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
}

.contactForm div {
    margin: 15px 0;
}

.contactForm input {
    padding: 5px;
    font-size: 16px;
}

.contactForm textarea {
    padding: 5px;
    font-size: 16px;
    font-family: 'Roboto', 'sans-serif';
    width: 400px;
    resize: vertical;
}

.contactFormSubmitted {
    background-color: rgb(129, 243, 129);
    padding: 15px;
    margin: 10px 0;
}

/*  Blog    */


/*  Chatroom    */


/*  Minigames   */


/*  Resources   */


/*  Store   */


/*  Login   */

/*  Register    */

/*  Support Us  */

/*  404 Page    */